<div class="contenedor">
  <!-- Sección 1: Formulario de Mantenimiento -->
  <div class="seccion-formulario">
    <h2>Administración de Mantenimientos</h2>
    <form [formGroup]="mantenimientoForm" (ngSubmit)="saveMantenimiento()" class="formulario">
      
      <div class="columna">
        <label>Soporte:</label>
        <input type="text" formControlName="soporte" required>

        <label>Descripción:</label>
        <textarea formControlName="descripcion" required></textarea>

        <label>Fecha Programada:</label>
        <input type="date" formControlName="fechaProgramada" required>
      </div>

      <div class="columna">
        <label>Estado:</label>
        <select formControlName="estado">
          <option value="Pendiente">Pendiente</option>
          <option value="En proceso">En proceso</option>
          <option value="Completado">Completado</option>
        </select>

        <label>Técnico:</label>
        <select formControlName="tecnico">
          <option value="">Seleccionar técnico</option>
          <option *ngFor="let tecnico of listaTecnicos" [value]="tecnico.id">
            {{ tecnico.nombre }} - {{ tecnico.numeroDocumento }}
          </option>
        </select>
      </div>

      <button type="submit" *ngIf="!editingMantenimiento">Registrar Mantenimiento</button>
      <button type="button" *ngIf="editingMantenimiento" (click)="saveMantenimiento()">Guardar cambios</button>
    </form>
  </div>

  <!-- Sección 2: Tabla de Mantenimientos -->
  <div class="seccion-tabla">
    <h2>Lista de Mantenimientos</h2>
    <table>
      <thead>
        <tr>
          <th>Fecha Programada</th>
          <th>Descripción</th>
          <th>Estado</th>
          <th>Técnico</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mantenimiento of mantenimientos">
          <td>{{ mantenimiento.fechaProgramada | date:'shortDate' }}</td>
          <td>{{ mantenimiento.descripcion }}</td>
          <td>{{ mantenimiento.estado }}</td>
          <td>
            {{ mantenimiento.tecnico ? mantenimiento.tecnico.nombre + ' - ' + mantenimiento.tecnico.numeroDocumento : 'No asignado' }}
          </td>
          <td>
            <button (click)="editMantenimiento(mantenimiento)" [disabled]="mantenimiento.estado === 'Completado'">
              <i class="fas fa-pencil-alt"></i> <!-- Ícono de lápiz -->
            </button>

            <button *ngIf="mantenimiento.estado !== 'Completado'" (click)="deleteMantenimiento(mantenimiento.id)">
              <i class="fas fa-trash"></i> <!-- Ícono de basura -->
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
