<h2 class="titulo-tabla">Registro de Empleados</h2>

<form [formGroup]="servicioForm" (ngSubmit)="onSubmit()" class="formulario">

  <!-- Información Personal -->
  <div class="seccion-titulo">Información Personal</div>
  <div class="fila">
    <div class="columna">
      <label for="primerNombre">Primer Nombre:</label>
      <input type="text" id="primerNombre" formControlName="primerNombre" required  [readonly]="isEditMode"  [ngClass]="{ 'readonly-style': isEditMode }"/>
      <div class="error" *ngIf="servicioForm.get('primerNombre')?.touched && servicioForm.get('primerNombre')?.errors">
        <small *ngIf="servicioForm.get('primerNombre')?.errors?.['required']">Requerido</small>
        <small *ngIf="servicioForm.get('primerNombre')?.errors?.['pattern']">Solo letras</small>
      </div>

      <label for="segundoNombre">Segundo Nombre:</label>
      <input type="text" id="segundoNombre" formControlName="segundoNombre"  [readonly]="isEditMode"  [ngClass]="{ 'readonly-style': isEditMode }"/>
      <div class="error" *ngIf="servicioForm.get('segundoNombre')?.touched && servicioForm.get('segundoNombre')?.errors">
        <small *ngIf="servicioForm.get('segundoNombre')?.errors?.['pattern']">Solo letras</small>
      </div>

      <label for="primerApellido">Primer Apellido:</label>
      <input type="text" id="primerApellido" formControlName="primerApellido" required  [readonly]="isEditMode"  [ngClass]="{ 'readonly-style': isEditMode }"/>
      <div class="error" *ngIf="servicioForm.get('primerApellido')?.touched && servicioForm.get('primerApellido')?.errors">
        <small *ngIf="servicioForm.get('primerApellido')?.errors?.['required']">Requerido</small>
        <small *ngIf="servicioForm.get('primerApellido')?.errors?.['pattern']">Solo letras</small>
      </div>

      <label for="segundoApellido">Segundo Apellido:</label>
      <input type="text" id="segundoApellido" formControlName="segundoApellido"  [readonly]="isEditMode"  [ngClass]="{ 'readonly-style': isEditMode }"/>
      <div class="error" *ngIf="servicioForm.get('segundoApellido')?.touched && servicioForm.get('segundoApellido')?.errors">
        <small *ngIf="servicioForm.get('segundoApellido')?.errors?.['pattern']">Solo letras</small>
      </div>
    </div>

    <div class="columna">
      <label for="sexo">Sexo:</label>
      <select id="sexo" formControlName="sexo" required [disabled]="isEditMode"
  [ngClass]="{ 'readonly-style': isEditMode }">
        <option value="">Selecciona</option>
        <option value="Masculino">Masculino</option>
        <option value="Femenino">Femenino</option>
        <option value="Otro">Otro</option>
      </select>

      <label for="fechaNacimiento">Fecha de Nacimiento:</label>
      <input type="date" id="fechaNacimiento" formControlName="fechaNacimiento" required [max]="today" [disabled]="isEditMode"
  [ngClass]="{ 'readonly-style': isEditMode }">
    </div>
  </div>

  <!-- Contacto e Identificación -->
  <div class="seccion-titulo">Identificación y Contacto</div>
  <div class="fila">
    <div class="columna">
      <label for="tipoIdentificacion">Tipo de Identificación</label>
      <select formControlName="tipoIdentificacion" id="tipoIdentificacion" required [disabled]="isEditMode"
  [ngClass]="{ 'readonly-style': isEditMode }">
        <option value="">Seleccione</option>
        <option value="CC">Cédula de Ciudadanía</option>
        <option value="TI">Tarjeta de Identidad</option>
        <option value="CE">Cédula de Extranjería</option>
        <option value="PAS">Pasaporte</option>
      </select>

      <label for="numeroIdentificacion">Número de Identificación:</label>
      <input type="text" id="numeroIdentificacion" formControlName="numeroIdentificacion" required [disabled]="isEditMode"
  [ngClass]="{ 'readonly-style': isEditMode }"/>
      <div class="error" *ngIf="servicioForm.get('numeroIdentificacion')?.touched && servicioForm.get('numeroIdentificacion')?.errors">
        <small *ngIf="servicioForm.get('numeroIdentificacion')?.errors?.['required']">Requerido</small>
        <small *ngIf="servicioForm.get('numeroIdentificacion')?.errors?.['pattern']">Solo números</small>
        <small *ngIf="servicioForm.get('numeroIdentificacion')?.errors?.['minlength']">Mínimo 5 dígitos</small>
        <small *ngIf="servicioForm.get('numeroIdentificacion')?.errors?.['maxlength']">Máximo 15 dígitos</small>
        <small *ngIf="servicioForm.get('numeroIdentificacion')?.errors?.['cedulaExistente']">Cédula ya registrada</small>
      </div>
    </div>

    <div class="columna">
      <label for="correoElectronico">Correo Electrónico:</label>
      <input type="email" id="correoElectronico" formControlName="correoElectronico" required />
      <div class="error" *ngIf="servicioForm.get('correoElectronico')?.touched && servicioForm.get('correoElectronico')?.errors">
        <small *ngIf="servicioForm.get('correoElectronico')?.errors?.['required']">Requerido</small>
        <small *ngIf="servicioForm.get('correoElectronico')?.errors?.['email'] || servicioForm.get('correoElectronico')?.errors?.['pattern']">Correo inválido</small>
      </div>

      <label for="telefono">Teléfono:</label>
      <input type="tel" id="telefono" formControlName="telefono" required />
      <div class="error" *ngIf="servicioForm.get('telefono')?.touched && servicioForm.get('telefono')?.errors">
        <small *ngIf="servicioForm.get('telefono')?.errors?.['required']">Requerido</small>
        <small *ngIf="servicioForm.get('telefono')?.errors?.['pattern']">Solo números</small>
        <small *ngIf="servicioForm.get('telefono')?.errors?.['minlength']">Debe tener 10 dígitos</small>
      </div>
    </div>
  </div>

  <!-- Residencia -->
  <div class="seccion-titulo">Residencia</div>
  <div class="fila">
    <div class="columna">
      <label for="lugarResidencia">Lugar de Residencia:</label>
      <input type="text" id="lugarResidencia" formControlName="lugarResidencia" required>

      <label for="direccionCasa">Dirección de Casa:</label>
      <input type="text" id="direccionCasa" formControlName="direccionCasa" required>

      <label for="barrio">Barrio:</label>
      <input type="text" id="barrio" formControlName="barrio" required>
    </div>
  </div>

  <!-- Información del Empleado -->
  <div class="seccion-titulo">Datos Laborales</div>
  <div class="fila">
    <div class="columna">
      <!--<label for="codigoEmpleado">Código de Empleado:</label>
    <input type="text" id="codigoEmpleado" formControlName="codigoEmpleado" required>
    <div class="error" *ngIf="servicioForm.get('codigoEmpleado')?.touched && servicioForm.get('codigoEmpleado')?.errors">
      <small *ngIf="servicioForm.get('codigoEmpleado')?.errors?.['required']">Requerido</small>
      <small *ngIf="servicioForm.get('codigoEmpleado')?.errors?.['minlength']">Mínimo 3 caracteres</small>
    </div>-->
    <label for="codigoEmpleado">Código de Empleado:</label>
    <input type="text" id="codigoEmpleado" formControlName="codigoEmpleado" readonly  [disabled]="isEditMode"
  [ngClass]="{ 'readonly-style': isEditMode }">

      <label for="cargo">Cargo</label>
      <select formControlName="cargo" id="cargo" [disabled]="isEditMode"
  [ngClass]="{ 'readonly-style': isEditMode }">
        <option value="">Seleccione</option>
        <option value="admin">Administrador</option>
        <option value="secretaria">Secretaria</option>
        <option value="Tecnico">Tecnico</option>
      </select>

      <label for="tipoContrato">Tipo de Contrato:</label>
      <select id="tipoContrato" formControlName="tipoContrato" required [disabled]="isEditMode"
        [ngClass]="{ 'readonly-style': isEditMode }">
        <option value="">Selecciona</option>
        <option value="Término Fijo">Término Fijo</option>
        <option value="Término Indefinido">Término Indefinido</option>
        <option value="Prestación de Servicios">Prestación de Servicios</option>
      </select>

      <label for="estado">Estado:</label>
      <select id="estado" formControlName="estado">
        <option [value]="true">Activo</option>
        <option [value]="false">Inactivo</option>
      </select>

      <label for="fechaIngreso">Fecha de Ingreso:</label>
    <input type="date" id="fechaIngreso" formControlName="fechaIngreso">

    <label for="fechaRetiro">Fecha de Retiro:</label>
    <input type="date" id="fechaRetiro" formControlName="fechaRetiro">

    <label for="sueldo">Sueldo:</label>
    <input type="number" id="sueldo" formControlName="sueldo" min="0">

    </div>
  </div>

  <!-- Información de Emergencia y Referencias -->
  <div class="seccion-titulo">Emergencias y Referencias</div>
  <div class="fila">
    <div class="columna">
      

    <!--<label for="hojaDeVida">Hoja de Vida (PDF):</label>
      <input 
        type="file" 
        id="hojaDeVida" 
        (change)="onFileSelected($event)" 
        accept="application/pdf" 
        id="hojaDeVida" formControlName="hojaDeVida" 
      />-->
      
      <!-- Mostrar enlace si estamos en modo edición y ya existe un PDF  (npm install ngx-extended-pdf-viewer --save) y (npm install ng2-pdf-viewer)-->
      <!-- Mostrar enlace solo si existe una hoja de vida cargada -->
<!--<div *ngIf="isEditMode && empleadoSeleccionado?.hojaDeVida">
  <h4>Vista previa de la Hoja de Vida:</h4>
  
  <pdf-viewer 
  [src]="'http://localhost:8080' + (empleadoSeleccionado?.hojaDeVida?.replace('/uploads', '/archivos'))" 
  [render-text]="true"
  style="display: block; height: 600px;"
></pdf-viewer>

  <a [href]="'http://localhost:8080' + empleadoSeleccionado?.hojaDeVida" target="_blank" rel="noopener noreferrer">
    Ver / Descargar Hoja de Vida
  </a>
</div>
-->
      
<!--<div *ngIf="isEditMode && empleadoSeleccionado?.hojaDeVida">
  <a [href]="empleadoSeleccionado?.hojaDeVida" target="_blank" download="HojaDeVida.pdf">Descargar Hoja de Vida Actual</a>
</div>-->



<label for="hojaDeVida">Hoja de Vida (PDF):</label>
<input type="file" (change)="onFileSelected($event)" accept="application/pdf" id="hojaDeVida" formControlName="hojaDeVida" />

<button  *ngIf="isEditMode" type="button" (click)="verPDF(nombreArchivo)">Ver PDF</button>


      <label for="referenciaLaboral">Referencia Laboral:</label>
      <input type="text" id="referenciaLaboral" formControlName="referenciaLaboral">
    </div>

    <div class="columna">
      <label for="contactoEmergenciaNombre">Nombre Contacto de Emergencia:</label>
      <input type="text" id="contactoEmergenciaNombre" formControlName="contactoEmergenciaNombre" required>
      <div class="error" *ngIf="servicioForm.get('contactoEmergenciaNombre')?.touched && servicioForm.get('contactoEmergenciaNombre')?.errors">
        <small *ngIf="servicioForm.get('contactoEmergenciaNombre')?.errors?.['pattern']">Solo letras</small>
      </div>

      <label for="contactoEmergenciaParentesco">Parentesco:</label>
      <input type="text" id="contactoEmergenciaParentesco" formControlName="contactoEmergenciaParentesco" required>
      <div class="error" *ngIf="servicioForm.get('contactoEmergenciaParentesco')?.touched && servicioForm.get('contactoEmergenciaParentesco')?.errors">
        <small *ngIf="servicioForm.get('contactoEmergenciaParentesco')?.errors?.['pattern']">Solo letras</small>
      </div>

      <label for="contactoEmergenciaTelefono">Teléfono de Emergencia:</label>
      <input type="tel" id="contactoEmergenciaTelefono" formControlName="contactoEmergenciaTelefono" required>
      <div class="error" *ngIf="servicioForm.get('contactoEmergenciaTelefono')?.touched && servicioForm.get('contactoEmergenciaTelefono')?.errors">
        <small *ngIf="servicioForm.get('contactoEmergenciaTelefono')?.errors?.['required']">Requerido</small>
        <small *ngIf="servicioForm.get('contactoEmergenciaTelefono')?.errors?.['pattern']">Solo números</small>
        <small *ngIf="servicioForm.get('contactoEmergenciaTelefono')?.errors?.['minlength']">Debe tener 10 dígitos</small>
      </div>
    </div>
  </div>

  <button type="submit">{{ isEditMode ? 'Actualizar Empleado' : 'Registrar Empleado' }}</button>
</form>


<h2 class="titulo-tabla">Tabla de Empleados</h2>

<table class="tabla-empleados">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo</th>
      <th>Teléfono</th>
      <th>Cargo</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleados">
      <td>{{ empleado.codigoEmpleado }}</td>
      <td>{{ empleado.primerNombre }}</td>
      <td>{{ empleado.primerApellido }}</td>
      <td>{{ empleado.correoElectronico }}</td>
      <td>{{ empleado.telefono }}</td>
      <td>{{ empleado.cargo }}</td>
      <td>{{ empleado.estado ? 'Activo' : 'Inactivo' }}</td>
      <td>
        <!-- Botón de editar (solo si está activo) -->
        <button (click)="editarEmpleado(empleado.id)" [disabled]="!empleado.estado">
          <i class="fas fa-pencil-alt"></i>
        </button>

        <!-- Botón de eliminar (solo si está activo) -->
         <!--<button *ngIf="empleado.estado" (click)="eliminarEmpleado(empleado)">
          <i class="fas fa-trash"></i>
        </button>-->
        
        <!--<button *ngIf="!empleado.estado" (click)="reactivarEmpleado(empleado)">
          <i class="fas fa-check-circle"></i>
        </button>-->
        <!-- Botón de reactivar (solo si está inactivo) -->
        
      </td>
    </tr>
  </tbody>
</table>


